<!DOCTYPE html>
{% load static %}

<link
    rel="stylesheet"
    type="text/css"
    href="{%static 'home/css/bootstrap.css' %}"
/>

<html>
<head>
    <title>My site</title>
</head>
<body>
    <h1> Create Training </h1>
    <p>{{today}}</p>
    <button type="button" class="btn btn-outline-secondary">Create Athlete</button><br/><br/>
    <button type="button" class="btn btn-outline-secondary">Create Course</button><br/><br/>
    <button type="button" class="btn btn-outline-secondary">Enter Training Data</button>
</body>
</html>