<!DOCTYPE html>
{% load static %}

<link
    rel="stylesheet"
    type="text/css"
    href="{% static 'training_app/css/bootstrap.css' %}"
/>

<html>
<head>
    <title>My site</title>
</head>
<body>
    <h1> Training Management </h1>
    <p>{{today}}</p>
    <a href="{% url 'create_athlete'%}" class="btn btn-primary btn-lg active" role="button" aria-disabled="true">Create Athlete</a><br/><br/>
    <a href="{% url 'create_course'%}" class="btn btn-primary btn-lg active" role="button" aria-disabled="true">Create Course</a><br/><br/>
    <a href="{% url 'create_training_data'%}" class="btn btn-primary btn-lg active" role="button" aria-disabled="true">Enter Training Data</a>
</body>
</html>