{% extends 'main.html' %}
{% block content %} 
  <h1>List of Athletes</h1>
  <p>In the following you find a list of all creates athletes.</p>
  <hr>
  {% for athlete in athletes_list %}
  <div class="panel panel-default">
    <div class="panel-heading"><strong>Athlete {{ athlete.id }}</strong></div>
    <div class="panel-body">
      <ul class="list-group">
        <li class="list-group-item">Name: {{ athlete.last_name }}, {{ athlete.first_name }}</li>
        <li class="list-group-item">Gender: {{ athlete.gender }}</li>
        <li class="list-group-item">Height: {{ athlete.height }} cm</li>
        <li class="list-group-item">Weight: {{ athlete.weight }} kg</li>
        <li class="list-group-item"><a href="{% url 'delete_athlete' athlete.id %}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete that athlete?')">Delete athlete</a><p></p><a href="{% url 'update_athlete' athlete.id %}" class="btn btn-default">Update athlete</a><p></p><a href="{% url 'athletes_workout' athlete.id %}" class="btn btn-info active">List all finished workouts</a></li>
      </ul>
    </div>
  </div>  
  {% endfor %}     
{% endblock %}