{% extends 'main.html' %}
{% block content %}
  <h1>Create your workout</h1>
  <br/>
  <p>Create your workout using the following form. Enter the data and smash the button.</p>
  <hr>
  <h3>Enter your data</h3>
  <br/><br/>
  {% if submitted %}
      <h5>Your workout was created successfully!</h5>
      <br/>
      <a href="{% url 'create_workout'%}" class="btn btn-info btn-lg active" role="button">Create further workouts</a>
  {% else %}
      <form action="" method=POST>
          {% csrf_token %}
          {{ form.as_p }}
          <br/>
          <input type="submit" value="Create workout" class="btn btn-info btn-lg active">
      </form>
  {%endif%}
{% endblock %}
      