{% extends 'main.html' %}
{% block content %}
  <h1>Enter your workout data</h1>
  <hr>
  <h4>Enter data using the following form. Choose an athlete and a workout. For creating data smash the button.</h4>
  <br/>
  {% if submitted %}
      <h5>Your workout was created successfully!!</h5>
      <br/>
      <a href="{% url 'create_workout_data'%}" class="btn btn-info btn-lg active" role="button">Create further data</a>
  {% else %}
      <form action="" method=POST>
          {% csrf_token %}
          {{ form.as_p }}
          <br/>
          <input type="submit" value="Create workout data" class="btn btn-info btn-lg active">
      </form>
  {%endif%}
{% endblock %}
    