{% extends 'main.html' %}
{% block content %}
    <h1>Welcome to Sporta</h1>
    <p>With Sporta you have the possibility to:</p>
    <hr>
    <h3>Create Athletes</h3>
    <p>Use tab "Athletes" to both create athletes and display all created athletes. Use the buttons delete respectivley update to change attributes. In addition you have the possibility to view all finished workout of an specific athlete.</p>
    <h3>Create Workouts</h3>
    <p>Use tab "Workouts" to both create workouts and display all created workout. Use the buttons delete respectivley update to change attributes.</p>
    <h3>Enter Workout Data to created workouts and assign athletes</h3>
    <p>Use tab "Workout Data". Use the buttons delete respectivley update to change attributes.</p>
    <h3>Analyze all finished workouts wheater from all athletes or an specific athlete</h3>
    <p>Below tab "Workout Data" choose option "Show Plots and KPI" to analyze the data.</p>  
{% endblock %}
    