{% extends 'main.html' %}
{% block content %}
  <h1>List of Workout Datas</h1>
  <p>In the following you find a list of all workout Datas</p>
  <hr>
  {% for workout in workout_list %}
  <div class="panel panel-default">
    <div class="panel-heading"><strong>Workout {{ workout.id }}</strong></div>
    <div class="panel-body">
      <ul class="list-group">
        <li class="list-group-item">Designation: {{ workout.designation }}</li>
        <li class="list-group-item">Description: {{ workout.description }}</li>
        <li class="list-group-item"><a href="{% url 'delete_workout' workout.id %}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete that workout?')">Delete workout</a><p></p><a href="{% url 'update_workout' workout.id %}" class="btn btn-default">Update workout</a></li>
      </ul>
    </div>
  </div> 
  {% endfor %}   
{% endblock %}   
    
